@media (max-width: 991.98px)  and (min-width: 320px) {
    
    #highscore-button{
        width:!important;
    }

    .pl-5{
        padding-left:0!important;
    }

    #bottom-button{
        margin-left:16%!important;
        margin-bottom:10%;
    }

    #quiz-container{
        padding-left:10%;
    }
    
    #time-remaining {
        margin-right:1%!important;
    }
 }

span{
    display:inline-block
}
label{
    display:inline-block;
}

.btn-primary {
    background-color: #4b0082;
    border-color: #4b0082;
}

.btn {
    color: #fff;
    background-color: #4b0082;
    border-color: #4b0082;
}
.btn:hover {
    color:#fff;
    background-color: #483d8b;
    border-color: #483d8b ;
    outline:none;
}
.btn-primary:hover {
    background-color: #483d8b;
    border-color: #483d8b ;
    outline:none;
}

.btn-primary:focus{
    background-color: #483d8b!important;
    border-color: #483d8b ;
    outline: none;

}


.col{
    padding-right:0px!important;
}
.form-control{
    width:30px;
    display:inline-block;
    border:0;
}
.time{
    float:right;
}
.col-form-label {
padding:0;
display:inline;
}
#initials-entry{
    width:100px;
    border: 1px solid gray;
    height:30px;
    margin-right:15px;
    margin-left:5px;
}
#time-remaining{
    width:45px;
    border:0;
    background-color:#fff;
    display:inline-block
}
#highscore-button{
    background-color: #fff;
    border:0;
    outline:0;
    color: #4b0082;
    font-weight:500;
    width:150px;
}
#final-score{
    border:0;
    width:50px;
    background-color: white;
    padding:0;
}